.formCard{
    width:40%;
    top:20%;
    max-height : 70%;
}
.productCard{
    width: 15rem;
    margin-bottom:5%;
}
.logo{
    width: 20%;
    height: 80px;
    margin-top: 0%;
    margin-bottom: 1%;
}
.username{
    float:right;
    margin-top: 2%;
}
.cart{
    float:right;
    margin-top:2%;
}
.listItem{
    float:left;
}